.mainContentDiv{
    display: flex;
    flex-direction: column;
}

.pageTitle{
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.pageTopDiv{
    display: flex;
    justify-content: space-around;
}

.formButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selectorArt{
    width: 25rem;
    height: auto;
}

body{
    background-color: aqua;
}

.modal{
    display: none; 
    position: fixed;
    z-index: 1; 
    top: 0;
    width: 65%; 
    height: fit-content; 
    overflow: auto; 
    
    background-color: blue; 
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}  

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pageBottomDiv{
    display: flex;
    margin: 3rem;
    justify-content: space-evenly;
}

#learnLabel{
    font-size: large;
    display: inline-block;
    margin-bottom: 1rem;
}

#moreInfoDiv{
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

#moreInfoButton{
    height: fit-content;
}

.navButtons{
    width:fit-content;
    font-size: xx-large;
}
