<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragment="header">
        <div class="headerDiv">
            <ul>
                <li>Home</li>
                <li>Create a Character</li>
                <li>User Creations</li>
                <li>Meet the Goblins</li>
            </ul>
        </div>
    </header>
    <footer th:fragment="footer">
        <h3>We Can Code It</h3>
        <h4>Git-HobGoblins</h4>
        <p>2021</p>
    </footer>
</body>
</html>