<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/dndClassStyle.css">
    <link rel="stylesheet" href="../../static/css/raceStyle.css">
    <link rel="stylesheet" href="../../static/css/backgroundStyle.css">

    <link rel="stylesheet" href="../../static/css/goblincontact.css">

    <link rel="stylesheet" href="../../static/css/abilitiesStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Special+Elite&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/rulesPage.css">

    <title>One Shot Wizard</title>
</head>

<body>

    <div class="mainContainerEl">
        <!-- <div class="mainSection">
            <section>
                <h1>Rules Page</h1>
                <h2>Learn more about DND Game Rules</h2>
            </section>

            <section>
                <ul>
                    <li>
                        <div>
                            <button class="clicktohide">CLASS</button>
                            <div class="hideable">
                                <h2>DND Class</h2>
                                <p>A character class is a fundamental part of the identity and nature of characters in
                                    the Dungeons & Dragons role-playing game. A character's capabilities, strengths, and
                                    weaknesses are largely defined by its class. A character's class affects a
                                    character's available skills and abilities.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <button>FEATURES</button>
                            <div class="hideable">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <button>THING</button>
                            <div class="hideable">
                                <h2>DND Thing</h2>
                                <p>Text about thing</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

        </div> -->

    </div>
    <script src="../../static/js/rulesPage.js" type="module"></script>
</body>

</html>