*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6dab83 !important;
}


.headerDiv{
    background-color: #313834;
}

.headerUl{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'IM Fell English SC', serif;
    font-size: 2rem;
}

.headerLi{
 
    color: #fcba04;
}

.mainContentDiv{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #558365;
    border-radius: 10px;
    border: solid 2px;
    border-color: black;
}

#openClassModal{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: .75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem;
    font-weight: bold;
    border: solid 2px;
    border-color: black;
    border-radius: 15px;
    box-shadow: 0 4px black;
    background-color: #819187;
}

#openClassModal:hover{
    background-color: #b0c2b7;
}

#openClassModal:active{
    background-color: #85eeaa;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.pageTitle{
    font-family: 'IM Fell English SC', serif;
    font-size: 4rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.pageTopDiv{
    display: flex;
    justify-content: space-around;
    
}

.formButtonsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectorArt{
    width: 25rem;
    height: auto;
    border-radius: 25px;
    border: double 2px;
    border-color: black;
}

.selector{
    width: 10rem;
    height: fit-content;
    font-size: x-large;
    background-color: #85a091;
    border-radius: 15px;
    margin: 2rem;
}


.modal{
    display: none; 
    padding: 2rem;
    border: solid 2px;
    border-radius: 10px;
    border-color: black;
    position: fixed;
    z-index: 1; 
    width: 70%; 
    height: fit-content; 
    overflow: auto; 
    background-color: #59665f; 
}

.close {
    color: #aaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}  

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pageBottomDiv{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
}

.classLearnHeader{
    margin-top: 2.5rem;
    margin-left:auto;
    margin-right: auto;
    font-family: 'IM Fell English SC', serif;
    font-size: 2rem;
}

.learnDropdown{
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: .5rem;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

#learnLabel{
    font-size: x-large;
    display: inline-block;
    margin-bottom: 5rem;
}

.learnMoreTitle{
    font-family: 'IM Fell English SC', serif;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

/* #classNames{
    display: flex; 
    width: 10rem;
    height: fit-content;
    font-size: x-large;
    background-color: #85a091;
    border-radius: 15px;
    margin: 2rem;
} */

#moreInfoDiv{
    display: none;
    width: 105%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    animation-name: animatetop;
    animation-duration: 2s;
    border: 2px solid;
    border-radius: 10px;
}

.moreInfoClose{
    float: right;
    margin-top: .25rem;
}

.moreInfoClose:hover{
    float: right;
    margin-top: .25rem;
    color: white;
}

#moreInfoButton{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: .75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem;
    font-weight: bold;
    border: solid 2px;
    border-color: black;
    border-radius: 15px;
    box-shadow: 0 4px black;
    background-color: #819187;
}

#moreInfoButton:hover{
    background-color: #b0c2b7;
}

#moreInfoButton:active{
    background-color: #85eeaa;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

/* #forwardButton,
#backButton{
    display: flex;
    width:fit-content;
    font-size: xx-large;
} */

.modalHeader{
    font-family: 'IM Fell English SC', serif;
}

.footer{
    background-color: #313834;
    color: #9B3D12;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    font-family: 'IM Fell English SC', serif;
}

.footerLiEl{
    font-family: 'IM Fell English SC', serif;
    font-size: small;
    margin: .25rem;
    color: #9B3D12;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}