@import url('https://fonts.googleapis.com/css2?family=Murecho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

section {
    margin: 0 auto;
    width: 60%;
}

.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85%;
    background-color: rgb(85, 131, 101);
    border: solid 2px;
    border-color: black;
    border-radius: 5px;
    margin: 3rem auto;
}

.content-section h1 {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 3.5rem;
    color: black;
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}

.content-section ul {
    grid-column-start: 1;
    grid-column-end: 2;
}

.infoBoxDiv {
    grid-column-start:2;
    grid-column-end:5;
    margin: 1rem;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    min-height: 500px;
    margin: .5rem 2rem;
}

.infoBoxH2 {
    font-size: 2.5rem;
    text-align: center;
    color: black;
   font-family: 'IM Fell English SC', serif;
}

.infoBoxH3 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
   font-family: 'IM Fell English SC', serif;
}

.infoBoxDiv p {
    font-size: 1.25rem;
    color: black;
   font-family: 'IM Fell English SC', serif;
    margin: 2rem;
}

.infoBoxText {
    font-size: 1.25rem;
    color: black;
    font-family: 'Murecho', sans-serif;
    
}

.item-list {
    list-style-type: none;
}

.class-info {
    font-size: 1.5rem;
}


.clicktohide {
    width: 14rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem;
    padding-left: 1rem;
    font-weight: bold;
    border: solid 2px;
    border-color: black;
    border-radius: 15px;
    box-shadow: 0 4px black;
    background-color: #fcba04;
    font-family: 'IM Fell English SC', serif;
    color: #9B3D12;
}

.clicktohide :hover{
    background-color: #F6AA1C;
}

.clicktohide :active{
    background-color: #db581c;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

hr {
    background-color: black;
    
}
ul{
    margin-left: 3rem;
}